/* body {
  text-align: center;

} */

label {
  display: inline-block;
  /* clear: left; */
  width: 120px;
  /* text-align: right; */
}

input {
  display: inline-block;
  margin: 5px;
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
}