.center {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  margin: 25px;
}

th, td {
  width: 150px;
  text-align: center;
  padding: 10px;
}

.total {
  margin: 25px;
  text-align: center;
}