* {
  font-size: 0.95em;
  font-family: sans-serif;
}

.total {
  margin: 25px;
  text-align: center;
} 

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even ){
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

p {
  text-align: center;
}

.user-info {
  line-height: 1.5;
  padding: 25px;
  display: table;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.user-info button {
  float: left;
}

.user-info p {
  margin: 0;
  float: right;
}

.user-input {
  width: 50px;
  float: right;
  text-align: right;
}

label {
  float: left;
}

#can-i-level {
  float: left;
}

#overall-runes {
  float: left;
}

#icon-header {
  width: 1vh;
}

.icon {
  width: 20%;
  scale: 20;
  float: right;
}

.rune-icon{
  scale: 0.5;
  float: right;
}

#runes-after-max {
  font-weight: bold;
  float: right;
}